:root {
  --primary: #2D9CDB;
  --dark-blue: #1B4965;
  --light-blue: #BEE9E8;
  --white: #FFFFFF;
}

body {
  background: var(--white);
  font-family: Arial, sans-serif;
  margin: 0;
  color: var(--dark-blue);
}

.header {
  background: var(--primary);
  padding: 20px;
  text-align: center;
  color: white;
}

.btn-primary {
  background: var(--dark-blue);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary {
  background: gray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

#task-list {
  padding: 20px;
}

.task-item {
  background: var(--light-blue);
  padding: 15px;
  margin-bottom: 15px;
  border-left: 5px solid var(--dark-blue);
  border-radius: 6px;
}

.add-calendar {
  background: var(--primary);
  color: white;
  padding: 8px 12px;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.add-calendar:hover {
  background: #1a73b8;
}

.delete-task {
  background: #e63946;
  color: white;
  padding: 8px 12px;
  border: none;
  margin-top: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-task:hover {
  background: #c71c30;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid gray;
}
