:root {
  --primary: #2D9CDB;
  --dark-blue: #1B4965;
  --light-blue: #BEE9E8;
  --white: #FFFFFF;
}

body {
  background: var(--white);
  color: var(--dark-blue);
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  background: var(--primary);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

.btn-primary {
  background: var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary {
  background: #ccc;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  background: var(--light-blue);
  margin: 15px;
  padding: 15px;
  border-left: 5px solid var(--primary);
  border-radius: 5px;
}

.card button {
  margin-right: 5px;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
